.encabezado
{
	background-color:#3C0;
							
	
}

body{
	background-color:#00C;
	
	}

.rojo{
	background:#F00;
	}
	
.verde{
	background:#0F0;
	}
.azul_claro{
	
	background: #06F;
	}
	
.amarillo{
	
	background:#FF0;}
	
	
	